* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

#game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

canvas {
  display: block;
}
